@media (max-width: 992px) {

    header,
    .main-page {
        max-width: 960px;
    }

    .gallery__section_text-align-and-margin-right {
        text-align: right;
        margin: 0 10px 0 0;
    }
}






